# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
.venv/
venv/
env/

# OS/editor
.DS_Store
.idea/
.vscode/

# Env/config
.env
.env.*
.python-version

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/

# Build/dist
build/
dist/
*.egg-info/



